.nav-custom-style {
	background-color: #2F4F4F;
}

.nav-custom-style a {
	color: white;
}

.nav-custom-style a:hover {
	color: #D3D3D3;
}

.navbar {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	padding: 10px 0px;
}

