#colors {
  background-color: #00008B;
  height: 700px;
}

#header-text {
  color: white;
  position: absolute;
  margin-top: 220px;
  margin-left: 35%;
}

#header-text h2 {
  font-size: 50px;
}

#header-text p {
  font-size: 35px;
}

.animate{
   background: linear-gradient(230deg, cyan, darkblue);
   background-size: 100% 100%;

   -webkit-animation: GradientAnimation 10s ease infinite;
   -moz-animation: GradientAnimation 10s ease infinite;
   animation: GradientAnimation 10s ease infinite;
}

.texts {
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 30px;
}

.texts p {
  font-size: 20px;
  padding: 10px;
}

.material-icons {
  font-size: 60px;
}

#footer {
  background-color: black;
  height: 50px;
}

#footer p {
  color: white;
  padding-top: 12px;
}